<div ng-controller='Customers_Controller' id="container">
	<div id='adder'>
   
        	<h3><u>Login</u></h3>
        	<div ng-repeat='err in errors_log'>
        		{{err.msg}}
        	</div>
        <br>
        	<p id='cust'>Customer Name:</p>

        	<input type='text'  id='first_input' ng-model='login.name' name='login.name' class="form-control" ng-model-options="{ updateOn: 'blur' }" autofocus/>
            
        	<input type='Add' id='enter' ng-click='checkCustomer()' class="btn btn-primary" value='Login'>
        <br>